@import "tailwindcss";

@font-face {
  font-family: 'Roboto';
  src: url('/public/assets/Roboto/static/Roboto-Bold.ttf') format('Roboto-Bold'),
          url('/public/assets/Roboto/static/Roboto-ExtraLight.ttf') format('Roboto-Light'),
          url('/public/assets/Roboto/static/Roboto-ExtraLight.ttf') format('poppins-ExtraLight'),
          url('/public/assets/Roboto/static/Roboto-SemiBold.ttf') format('poppins-SemiBold'),
          url('/public/assets/Roboto/static/Roboto-ExtraBold.ttf') format('poppins-ExtraBold'),

}

/* Appliquer la police par défaut */
body {
  font-family: 'Roboto', sans-serif;
}

/* Scrollbar style */
.scroll-gray::-webkit-scrollbar {
  height: 3px; /* horizontal */
  width: 8px; /* vertical */
}

.scroll-gray::-webkit-scrollbar-track {
  background: #f9fafb; /* gray-50 */
}

.scroll-gray::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* gray-300 */
  border-radius: 10px;
  border: 2px solid #f9fafb; /* gray-50 */
}
